TwitterMonitor/Service References/TwitterService/item43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Microsoft.ServiceModel.Samples" elementFormDefault="qualified" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/TwitterWCFService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TwitterWCFService" />
  <xs:element name="InitStreamAndSaveData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TwitterWCFService" minOccurs="0" name="data" nillable="true" type="q1:RequestInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitStreamAndSaveDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TwitterWCFService" minOccurs="0" name="InitStreamAndSaveDataResult" nillable="true" type="q2:RequestInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HashtagsFrequencyData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HashtagsFrequencyDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TwitterWCFService" minOccurs="0" name="HashtagsFrequencyDataResult" nillable="true" type="q3:HashtagsCountData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pictures">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PicturesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TwitterWCFService" minOccurs="0" name="PicturesResult" nillable="true" type="q4:PicturesData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sentiment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SentimentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TwitterWCFService" minOccurs="0" name="SentimentResult" nillable="true" type="q5:SentimentData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>